.home {
  max-width: 100vw;
  min-height: 100vh;
  background-color: #333551;
  display: flex;
  flex-direction: column;

  header {
    padding: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    text-align: center;

    div {
      width: fit-content;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
    }

    span {
      color: #b6b6b6;
      font-size: 24px;
      line-height: 32px;
      font-weight: 700;
    }

    svg {
      width: 204px;
    }
  }

  .pageContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .content {
    flex: 1;
    padding-bottom: 8px;
  }

  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    padding: 0.2rem 1rem;
    font-weight: bold;
    color: #ffffff;
    background-color: #2a2b3c;
    border-radius: 0.5rem;
    position: relative;
    z-index: 1000;
    margin: 1rem auto;
    width: auto;
    max-width: 90%;
    flex-wrap: wrap;
    overflow: hidden;
  }

  .pagination button {
    padding: 0.6rem 1rem;
    font-size: 16px;

    @media (max-width: 1200px) {
      padding: 0.5rem 0.8rem;
      font-size: 14px;
    }

    @media (max-width: 900px) {
      padding: 0.4rem 0.6rem;
      font-size: 12px;
    }

    @media (max-width: 600px) {
      padding: 0.3rem 0.5rem;
      font-size: 10px;
    }

    @media (max-width: 400px) {
      padding: 0.2rem 0.4rem;
      font-size: 8px;
    }
  }
}
